{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}

<a href="{% url 'home' %}" class="btn btn-sm btn-outline-secondary">Back</a>
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<a href="{% url 'update-post' post.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
<a href="{% url 'delete-post' post.pk %}" class="btn btn-sm btn-outline-secondary">Delete</a>
{% endif %}
{% endif %}
<br><br>
<a href="{% url 'category' post.category %}">
  <span class="badge badge-pill badge-dark" style="color:white; background-color: #d9adad;">{{ post.category }}</span>
</a>
<h2>{{ post.title }}</h2>
<small>Posted by {{ post.author.first_name }} {{ post.author.last_name }}</small><br>
<small>{{ post.date }}</small><br>

<hr>
{{ post.body|safe }}

{% if user.is_authenticated %}
<form action="{% url 'like-post' post.pk %}" method="POST">
  {% csrf_token %}
  {% if liked %}
  <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-danger btn-small">Unliked</button> 
  {% else %}
  <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-small">Like</button> 
  {% endif %}
  {% endif %}
  {{ total_likes }} likes
</form>
<br><br>
{% endblock %}