{% extends 'base.html' %}

{% block content %}
<!--
{% for post in object_list %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a>
        <small class="text-muted">{{ post.date }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.snippet }}</p>
    </div>
  </article>
{% endfor %}
//-->

<ul style="list-style-type:none;">
  {% for post in object_list %}
    <li>
      <a href="{% url 'article-detail' post.pk %}" class="text-decoration-none">
        {{ post.title }}
      </a>
      <a href="{% url 'category' post.category|slugify %}">
        <small><span class="badge badge-pill badge-dark" style="color:white; background-color: #d9adad;">{{ post.category }}</span></small>
      </a>
      
      <br/>
      <small>{{ post.author.first_name }} {{ post.author.last_name }}, {{ post.date }}</small>
      {% if user.is_authenticated %}
      {% if user.id == post.author.id %}
      <small><a href="{% url 'update-post' post.pk %}" class="text-decoration-none">Edit</a></small>
      <small><a href="{% url 'delete-post' post.pk %}" class="text-decoration-none">Delete</a></small>
      {% endif %}
      {% endif %}
      <br>
      {{ post.snippet }}
    </li>
  {% endfor %}
</ul>


{% endblock %}