table{
  border: 2px solid #861657;
}
ul{
  width: 185px;
}
li:nth-child(2n){
  background-color: #D56AA0;
  color: #861657;
}
li:nth-child(2n+1){
  background-color: #FCF0CC;
}
li:nth-child(1){
  background-color: white;
}