{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<h2>Мифы Китая</h2>
<h3 style="color: brown;">Мифология и интеллектуальный прогресс</h3>
<p>В основе мифотворчества лежит попытка познать и по мере возможности объяснить происхождение, устройство и жизнь обитателей потустороннего мира. Отметим, что «потусторонний» не обязательно обозначает нечто отдаленное или даже невидимое, хотя по традиции пользуются именно этими понятиями.</p>
<p>Для того чтобы составить полное представление о жизни воображаемой, необходимо описать жизнь реальную, ибо у всех народов потусторонний мир является отражением мира реального. Именно поэтому мы начали с краткого описания жизни и культуры китайцев в монархическую эпоху. Заметим, что в некоторых странах бытует множество мифов, а в других их гораздо меньше. Почему это происходит? Почему одни народы рассказывают множество удивительных историй о своих богах, а другие практически не упоминают о них, хотя и есть что порассказать?</p>
<p>Вспомним, например, великие мифы Греции и Скандинавии. Такого количества историй не найдем у других народов. Это можно объяснить различиями в складе ума, психологии людей и в большой степени в их воображении. На низших стадиях развития человека воображение у него бедное, на высших ступенях, напротив, фантазия становится богатой.</p>
<img src="{% static '../static/images/china/china.jpg' %}" style="display: block; margin-left: auto; margin-right: auto;">

{% endblock %}