{% extends "base_generic.html" %}

{% block content %}

<p>Этот сайт целиком посвящен мифологии. Здесь вы найдете статьи о греческой мифологии, мифологии древнего Рима, скандинавской мифологии, мифах древних славян.Новые добавления: специальные страницы о кельтской, египетской, скифской мифологиях, а также о мифологии Индии. Отдельная страница посвящена мифологии фильма "Аватар" Джеймса Кэмерона, который создал целый мифологический мир в жанре "фэнтези" и блестяще воплотил его в кинематографе. На нашем сайте вы найдете также библиотеку с текстами классических произведений по мифологии - таких, как Илиада и Одиссея Гомера (Древняя Греция), Энеида Вергилия и Метаморфозы Овидия (древний Рим).</p>

<h3 style="color: brown;">Мифология и современность</h3>
<p>Мифология древних народов, эволюция их воззрений - тема неисчерпаемая. Ведь миф - это не просто старинная сказка, а древнейший образ мировоззрения, позволяющий человеку осмыслить себя и окружающий мир.

  Миф объединяет науку, религию и искусство. Легенды и сказки настолько глубоко укоренены в общественном сознании, что их воздействие на умы продолжается даже в нашем XXI веке!
  
  Многие из современных кумиров вольно или невольно следуют образцу, заданному еще героями древних сказаний. Один из главных мифов индоевропейских народов повествует о выборе героя между долгой и счастливой жизнью во главе своего царства и короткой, но очень славной жизнью, которую будут помнить в веках. Такой выбор вынужден совершить Ахилл в мифологии древней Греции. Ахилл выбирает славную судьбу, хотя заранее знает, что на троянской войне, куда он отправляется, его ждет скорая гибель.</p>

{% endblock %}