{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<h2>Славянская мифология</h2>
<h3 style="color: brown;">История славянского мира</h3>
<p>Славяне отделились от индоевропейского языкового массива во II тысячелетии до нашей эры. Их верования уходят корнями в воззрения древних индоевропейцев, благодаря чему во взглядах древних славян мы находим множество общих черт с мифологическими системами Индии, древних германцев, кельтов, греков и римлян. Язычество древних славян просуществовало до Х века, когда в 988 году князь Владимир Святославич принял решение о крещении своей земли. Однако и после этого многие черты народной мифологии сохранялись в обрядах, поверьях, сказках, загадках и других произведениях народного творчества.</p>
<p>За это время их воззрения претерпели существенные изменения. По мнению наиболее выдающегося исследователя славянского язычества, академика Б.А. Рыбакова, последующие взгляды, сюжеты и мифы не стирали предыдущие, а наслаивались на них и продолжали сосуществовать с ними. Таким образом, даже в эпоху наиболее развитых мифологических представлений в народном сознании сохранялась память о самых архаических пластах верований своих предков. </p>

<h3 style="color: brown;">Славянское язычество</h3>
<p>Историю развития славянского язычества вкратце можно представить так:
  Первоначально славяне верили в добрых и злых духов природы - берегинь и упырей. Представления о них были довольно туманны, по всей видимости, человек еще не придавал этим духам антропоморфных черт. И тем и другим люди приносили жертвы, чтобы возблагодарить добрых и умилостивить злых.</p>
  <p>Затем наступила эпоха великих богов. По мнению Б.А. Рыбакова, на первый план выдвинулся бог Род, всегда выступавший в окружении двух рожаниц. Этому богу придавался характер главы пантеона, демиурга, создателя вселенной (не все исследователи согласны с этим мнением). Далее культ Рода распался на множество более мелких культов, из которых в конце концов самым важным стал культ Перуна, покровителя князя и его дружины, бога войны и сражений, мечущего молнии в своих хтонических противников.</p>
  <img src="{% static '../static/images/russia/rod.jpg' %}" style="display: block; margin-left: auto; margin-right: auto;">
  
  <h3 style="color: brown;">Главный славянский миф</h3>
  <p>В настоящее время широкое распространение получила идея, согласно которой поединок Перуна со змеем представляет собой славянский вариант главного индоевропейского мифа о борьбе небесного всадника-богатыря со змеевидным врагом. Действительно, изображения всадника, копьем поражающего змея, мы можем встретить в Европе повсюду - этот миф был ассимилирован христианством, приняв вид поединка святого Георгия с драконом. Изображение всадника-копьеносца, у ног которого извивается змей, мы можем видеть, например, на современном гербе Москвы, а также на копейках, повторяющих форму тех, что были впервые отчеканены в 1534 году. Все это свидетельствует о невероятной живучести древних образов, которые, потеряв свое первоначальное осмысление, продолжают жить среди нас как важнейшие символы нашего сознания.</p>
  <img src="{% static '../static/images/russia/gamaun.jpg' %}" style="display: block; margin-left: auto; margin-right: auto;">

{% endblock %}