{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<h2>Скандинавская мифология</h2>
<h3 style="color: brown;">Мифы древних германских племен</h3>
<p>Как и остальные народы древности, живущие родоплеменным строем, древние германцы были разделены на различные племена. Это приводило к значительной разнице в их верованиях, в составе племенных божеств, в степени влияние на их воззрения соседей.</p>
<p>Древнегерманскую мифологию можно разделить на две большие части - мифологию континентальных германцев и мифологию северных, скандинавских стран. Континентальные германцы уже с самых ранних времен подверглись влиянию своих ближайших соседей - римлян, а также кельтов. Начавшаяся христианизация Европы также затронула их первыми. По этой причине самобытная германская мифология лучше и дольше сохранялась у северных скандинавов, удаленных от посторонних влияний. Именно северогерманская мифология дошла до наших времен, сохраненная двумя выдающимися памятниками европейской литературы - так называемыми "Старшей" и "Младшей Эддой". Первая из них представляет собой сборник поэтических гимнов, вторая написана прозой и принадлежит перу одного автора - исландского скальда Снорри Стурлусона, жившего в XIII веке.</p>
<img src="{% static '../static/images/scandinavia/midsummer.jpg' %}" style="display: block; margin-left: auto; margin-right: auto;">
<p>Мифология скандинавских народов были близка к мифам славян, которые были связаны со скандинавами тесными узами. Хотя прямого соответствия между богами и мифологическими сюжетами славян и Эдды нет, но в культе и народных праздниках этих близких географически народов прослеживалось много общего. И те, и другие народы праздновали схожие календарные праздники, например, праздники летнего и зимнего солнцестояния.</p>

<h3 style="color: brown;">Рождение мира и пантеон богов</h3>
<p>В начале была только мировая бездна Гинунгагап, заполненная мраком и пустотой. В этой бездне родился двуполый великан Имир, давший начало миру. Боги рассекли его тело на части и создали из них землю, воду и небо. Затем трое великих богов - Один, Лодур и Хёнир - подняли со дна мирового океана сушу, обустроили ее и вдохнули жизнь в первых людей. Так было положено начало существующему порядку вещей.</p>
<p>Главные боги скандинавского пантеона - Один, Тор, Фрейр, Локи, Хеймдалль, Тюр, Ньерд отличаются разнообразными функциями и характерами. Богини - Фригг, Фрейя, Идунн, Сив также обладают индивидуальными чертами. Например, Сив отличается золотыми волосами, выкованными для нее карликами-цвергами.</p>
<img src="{% static '../static/images/scandinavia/odin.jpg' %}" style="display: block; margin-left: auto; margin-right: auto;">

{% endblock %}